body {
  font-family: Gordita, Helvetica Neue, Arial, sans-serif, -apple-system;
  line-height: 1.5em;
  font-size: 1em;
  color: #222;
  max-width: 580px;
  padding:35px;
  margin:auto;
  background: #FFFDFF; 
}

.sidebar {
  font-family: Gordita, Helvetica Neue, Arial, sans-serif, -apple-system;
  line-height: 1.5em;
  font-size: 1em;
  color: #222;
  max-width: 40rem;
  padding:10px;
  margin:10px;
  background: #FFFDFF; 
}

.cats{
  text-transform: none;
}

.home-title {
  color: #2f175c;
}

header {
  display: block;
  width: 100%;
  float: left;
}

.photo {
  margin-bottom:0px;
}

img {
  max-width: 100%;
  margin-bottom:0px;
}

.subphoto {
  font-style: italic;
  color:#5e5e5e;
  font-size:10px;
  margin-top:-20px;
}

a {
  color: #0062d9;
  text-decoration: none; 
}

a:hover {
  color: #19DC8D;
}

h1, h2, strong {
  color: #111; 
}

h1 {
  font-size: 1.5em;
  padding-top: 20px;
  padding-bottom:6px;
}

h2, h3 {
  font-size: 1.3em; 
  margin-top: 1.3em;
  margin-bottom: 0.2em; 
}

h3 {
  font-size: 1.1em; 
  text-transform: none;
}

h4 {
  font-size: 1em; 
  text-transform: none;
  font-weight:500;
  margin-top:7px;
  margin-bottom:7px;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
  max-width: 580px;
  line-height:27px;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.66em;
}

hr {
  border: 0px;
  border-top: .5px solid #eee; 
  margin-top: 20px;
}

.muted {
  color: #aaa;
  text-decoration: none; 
}
 
.home-btn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.home {
  float: left;
  clear: left;
  color: red;
  margin-left:5px;
}

.small {
  font-size: .8em; 
}

.content{ 
  font-family: Gordita, Helvetica Neue, Arial, sans-serif, -apple-system;
  line-height: 1.5em;
  font-size: 1em;
  color: #222;
  max-width: 40rem;
  padding:10px;
  margin:auto;
 }

.myform {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

input {
    float: left;
    box-sizing: border-box;
    padding-right: 80px;
    text-align: left;
    vertical-align:bottom;
    padding-bottom:0px;
    padding-top:0px;
    margin: auto;
    width: 100%;
    border-radius:6px;
    background-color:#eee;
    border: none;
    height:24px;
    font-family: Gordita, Helvetica Neue, Arial, sans-serif, -apple-system;
    font-size: 10px;
    display: inline-block;
}

#btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    border: none;
    height:24px;
    background-color:#19DC8D;
    font-family: Gordita, Helvetica Neue, Arial, sans-serif, -apple-system;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color:#eee;
    font-size:14px;
    font-weight:500;
    text-align: center;
    margin: auto;
    padding-bottom:0px;
}

button {
  padding-bottom:0px;
  text-align: center;
  margin: auto;
  padding: auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8c8c8c;
  font-style: italic;
  padding-left:5px;
  margin: auto;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #333;
  padding-left:5px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #333;
  padding-left:5px;
}