---
layout: default
---
<style type="text/css">
	body {
		margin:60px 10px 10px 10px;
	}
</style>

<div class="home">
<header>
  <h1 class="home-title">{{ site.myname | escape }}</h1>
</header>

<main>

{{ content }}

{% assign sorted = (site.Folders | sort: 'rank') %}
{% for folder in sorted %}
  <h4>
    <a href="{{ folder.url }}">
      {{ folder.title }}
    </a>
  </h4>
{% endfor %}

<hr />


<form
  action="https://formspree.io/xzbjblow"
  method="POST"
>
  <div class="myform">
    <input type="email" name="email" placeholder="submit email" contenteditable="true">
  	<button id="btn" type="submit">Send</button>
  </div>
</form>


</main>
</div>